<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

<div class="flex flex-jc-c flex-ai-c">
    <form th:action="@{/register/save}" th:object="${userAccount}" method="post">
        <h3 class="flex flex-jc-c">Registration Form</h3>

        <div class="input__field">
            <input type="text" th:field="*{userName}" placeholder="User Name"   />
        </div>
        <div class="input__field">
            <input type="email" th:field="*{email}" placeholder="Email"  />
        </div>
        <div class="input__field">
            <input type="password" th:field="*{password}" placeholder="Password"/>
        </div>
        <div class="flex flex-jc-c">
            <button class="button" type="submit">Register User</button>
        </div>
    </form>
</div>


<script type="text/javascript" th:src="@{/js/home_script.js}"></script>


</body>
</html>