<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

<body>
<div class="flex-col flex-jc-c flex-ai-c">
    <form class="flex-col flex-ai-c"
          th:action="@{/repairOrder/save}"
          method="post">
        <div>
            <h1>Please fill in the information to create a new order:</h1>
        </div>
        <div class="input__data">
            <label for="VIN">VIN:</label>
            <input class="input__field"
                    type="text"
                    placeholder="Enter VIN"
                    minlength="13"
                    maxlength="17"
                    name="VIN"
                    id="VIN"
                    th:field="${vehicle.vin}"
                    required
            />
        </div>
        <div class="input__data">
            <label for="brand">Manufacturer</label>
            <input
                    class="input__field"
                    type="text"
                    placeholder="VW, AUDI, PEUGEOT...."
                    name="brand"
                    id="brand"
                    th:field="${vehicle.brand}"
                    required
            />
        </div>
        <div class="input__data">
            <label for="model">Model</label>
            <input
                    class="input__field"
                    type="text"
                    placeholder="Model"
                    name="model"
                    id="model"
                    th:field="${vehicle.model}"
                    required
            />
        </div>

        <div class="input__data">
            <label for="engine">Engine</label>
            <input
                    class="input__field"
                    type="text"
                    placeholder="engine"
                    name="engine"
                    id="engine"
                    th:field="${vehicle.engineSize}"
            />
        </div>

        <div class="input__data">
            <label for="LP">License Plate</label>
            <input
                    class="input__field"
                    type="text"
                    placeholder="License Plate"
                    name="LP"
                    id="LP"
                    minlength="6"
                    maxlength="16"
                    th:field="${vehicle.licensePlate}"
            />
        </div>

        <div class="input__data">
            <label for="mechanic">Mechanic</label>
            <select class="input__field" id="mechanic" th:field="${mechanic.id}">
                <option
                        th:each="mech : ${mechanicsList}"
                        th:value="${mech.Id}"
                        th:utext="${mech.name}"
                />
            </select>
        </div>

        <div class="input__data">
            <label for="endDate">Repair order end date</label>
            <input
                    class="input__field"
                    id="endDate"
                    type="date"
                    th:field="${repair.deadline}"
            />
        </div>
        <div>
            <button type="submit">Create order</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/home_script.js}"></script>

</body>
</html>