<!DOCTYPE html>
<html>
<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

        <h1 class="flex flex-jc-c">Welcome to MH Workshop</h1>
        <div class="flex flex-jc-c flex-ai-c">

            <a  class="button" th:href="@{/repairOrder/new}">New Repair Order</a>

            <a class="button" th:href="@{/reservation/new}">Reservation for Repair</a>

            <a class="button" th:href="@{/repairOrder/allOrders}">Get all orders</a>
            <a class="button" th:href="@{/reservation/all}">Get all reservations</a>
        </div>

        <div class="flex flex-jc-c">
            <img class="main_image" th:src="@{/images/engine1.jpg}" alt="Pic of an engine"/>
        </div>

<script type="text/javascript" th:src="@{/js/home_script.js}"></script>

</body>
</html>