<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

<div class="flex flex-jc-c flex-ai-c">
    <form th:action="@{/parts/management/save}" th:object="${part}" method="post">

        <h1 class="flex flex-jc-c">New spare part</h1>

        <label for="PartCode"><b>Part Code:</b></label>

        <input class="input__newPart" type="text" placeholder="Part Code" minlength="1" maxlength="10" name="PartCode" id="PartCode"
               th:field="${part.code}">
        <span th:if="${error}"
              th:text="${error}">Error</span>

        <label for="inStock"><b>In Stock:</b></label>
        <input class="input__newPart" type="text" minlength="1" maxlength="10" name="inStock" id="inStock"
               th:field="${part.inStock}">

        <label for="name"><b>Type:</b></label>
        <input class="input__newPart" type="text" minlength="1" maxlength="10" name="name" id="name"
               th:field="${part.name}">

        <label for="price"><b>Price:</b></label>
        <input class="input__newPart" type="text" minlength="1" maxlength="10" name="price" id="price"
               th:field="${part.price}">

        <button>New spare part</button>

    </form>
</div>

<script type="text/javascript" th:src="@{/js/home_script.js}"></script>

