<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Welcome to MH Workshop</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Welcome to MH Workshop</title>


</head>
<body>

</body>
</html>
<nav th:fragment="navbar">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/register}">Register</a>
    <a th:href="@{/about}">About</a>
    <div class="dropdown">
        <button class="dropbtn">Parts management</button>
        <div class="dropdown-content">
            <a th:href="@{/parts/management/newPart}">Add part</a>
            <a th:href="@{/parts/management/searchPart}">Edit part</a>
            <a th:href="@{/parts/management/delete}">Delete part</a>
        </div>
    </div>
    <a class="contact" th:href="@{/contacts}">Contacts</a>


</nav>
