<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: header">
</head>
<body>
<nav th:replace="fragments/segments :: nav"></nav>

<h1>Please fill the fields:</h1>
<br>
<form th:action="@{/repairOrder/addOperation}" method="post">
    <div class="reservation">

        <label for="mechanic">Mechanics</label>
        <select id="mechanic" th:field="${operation.mechanic}">
            <option th:each="mech : ${mechanics}"
                    th:value="${mech.Id}"
                    th:utext="${mech.name}"/>
        </select>

        <label for="operationType">Operation type</label>
        <select id="operationType" th:field="${operation.type}">
            <option th:each="type : ${T(com.yordan.karabelyov.Workshop.util.TypeOfOperation).values()}"
                    th:value="${type}"
                    th:utext="${type}"/>
        </select>
        <label for="hours">Hours</label>
        <input type="text" placeholder="Hours" name="hours" id="hours" th:field="${operation.hours}">
        <input type="hidden" th:value="${order.id}" name="id">
        <button type="submit">Add To Order</button>
    </div>
</form>

</body>
</html>