<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

<body>

<div class="flex-col flex-jc-c flex-ai-c">
    <form
            class="flex-col flex-ai-c"
            th:action="@{/reservation/saved}"
            th:object="${reservation}"
            method="post"
    >
        <div>
            <h1>Create your reservation, fill the fields bellow</h1>
        </div>

        <div class="input__data">
            <label for="reservation">Date:</label>
            <input
                    class="input__field"
                    type="date"
                    id="reservation"
                    name="reservation"
                    th:field="${reservation.date}"
                    required
            />
        </div>
        <div class="input__data">
          <span
                  th:if="${#fields.hasErrors('date')}"
                  th:errors="${reservation.date}"
          ></span>
        </div>
        <div class="input__data">
            <label for="customer">Customer name:</label>
            <input
                    class="input__field"
                    type="text"
                    id="customer"
                    th:field="${reservation.customerName}"
            />
        </div>

        <div class="input__data">
            <label for="email">Email:</label>
            <input
                    class="input__field"
                    type="email"
                    id="email"
                    th:field="${reservation.email}"
            />
        </div>
        <div class="input__data">
            <label for="phone">Phone:</label>
            <input
                    class="input__field"
                    id="phone"
                    th:field="${reservation.phoneNumber}"
            />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/home_script.js}"></script>
</body>
</html>