<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/segments :: header">
    <script type="text/javascript" th:src="@{js/new-reservation.js}"/>
</head>
<body>
<nav th:replace="fragments/segments :: nav"></nav>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/reservation/saved}" method="post">
    <h2>Create your reservation</h2>
    <br>

    <div class="reservation">
        <label for="reservation">Choose a date for your appointment:</label>
        <input type="date" id="reservation"
               name="reservation" th:field="${reservation.date}" required>
        <span th:if="${#fields.hasErrors('reservation.date')}"
              th:errors="${reservation.date}"></span>
    </div>
    <!--    -->
    <!--    <label for="date">Date: </label>-->
    <!--    <input type="text" id="date"-->
    <!--           name="date" th:field="${reservation.date}" readonly/>-->

    <label for="customer">Customer name:</label>
    <input type="text" id="customer" th:field="${reservation.customerName}"/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="${reservation.email}"/>

    <label for="phone">Phone:</label>
    <input id="phone" th:field="${reservation.phoneNumber}"/>

    <button type="submit" class="checkRes">Submit</button>

</form>
</body>
</html>