<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: head"/>
<body>
<header th:replace="fragments/segments :: nav"/>

<div class="flex-col flex-jc-c flex-ai-c">

<form class="flex-col flex-ai-c" th:action="@{/reservation/save}" th:object="${reservation}" method="post">

    <div>
        <h1>Update reservation details, fill data bellow</h1>
    </div>
    <input type="hidden" th:field="${reservation.id}">

    <div class="input__data">
        <label for="date">Date: </label>
        <input class="input__field" type="text" id="date"
               name="date" th:field="${reservation.date}" readonly/>
    </div>
    <div class="input__data">
        <label for="customer">Customer name:</label>
        <input class="input__field" type="text" id="customer" th:field="${reservation.customerName}"/>
    </div>
    <div class="input__data">
        <label for="email">Email:</label>
        <input class="input__field" type="email" id="email" th:field="${reservation.email}"/>
    </div>

    <div class="input__data">
        <label for="phone">Phone:</label>
        <input class="input__field" type="number" id="phone" th:field="${reservation.phoneNumber}"/>
    </div>

    <div>
        <button type="submit" class="checkRes">Submit</button>
    </div>


</form>
</div>

<script type="text/javascript" th:src="@{/js/home_script.js}"></script>

</body>
</html>