<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: header">
</head>
<body>
<nav th:replace="fragments/segments :: nav"></nav>

<form th:action="@{/repairOrder/searchPart}" th:object="${part}" method="post">
    <div class="container">
        <h1>Add new part to order</h1>
        <hr>

        <label for="PartCode"><b>Part Code:</b></label>
        <input type="text" placeholder="Part Code" minlength="1" maxlength="10" name="PartCode" id="PartCode"
               th:field="${part.code}" required>

        <input type="text"
               th:field="${order.id}">
        <button>Search</button>
    </div>
</form>

</body>
</html>