<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/segments :: header">
</head>
<body>
<nav th:replace="fragments/segments :: nav"></nav>

<form th:action="@{/repairOrder/insertPart}" th:object="${part}" method="post">
    <div class="container">
        <h1>Spare part found</h1>
        <hr>

        <label for="PartCode"><b>Part Code:</b></label>
        <input type="text" placeholder="Part Code" minlength="1" maxlength="10" name="PartCode" id="PartCode"
               th:field="${part.code}" readonly>

        <label for="inStock"><b>In Stock:</b></label>
        <input type="text" minlength="1" maxlength="10" name="inStock" id="inStock"
               th:field="${part.inStock}" readonly>
        <span th:if="${error}"
              th:text="${error}">Error</span>

        <label for="name"><b>Type:</b></label>
        <input type="text" minlength="1" maxlength="10" name="name" id="name"
               th:field="${part.name}" readonly>

        <label for="price"><b>Price:</b></label>
        <input type="text" minlength="1" maxlength="10" name="price" id="price"
               th:field="${part.price}">

        <input type="text" id="orderId"
               th:field="${order.id}">

        <button>Add to Repair order</button>
    </div>
</form>

</body>
</html>